<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
</head>
<body>
<div id="sitebar" class="sitebar" style="left: 150px;" >
    <header id="masthead" class="site-header" role="banner">
        <div class="site-branding">
            <h1 class="site-title">MyBlog</h1>
            <div id="edit-info" class="j edtext pl">
                <span id="info-display"></span>
                <span id="info_display_act" style="display: inline">
                        (<a class href="#">编辑</a>)
                </span>
            </div>
        </div>
    </header>
</div>
</body>
</html>